.course {
    font-size: 36px;
    width: 80%;
    margin: 15px auto;
    user-select: none;
}

main{
    background-color: #c0c0c0;
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 42vh;
}

.selected {
    color: #c30000;
}

p {
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

p:hover {
    color: #c30000;
    opacity: 60%;
    cursor: pointer;
}
