/* For a div housing a course in course sidebar */
.course {
    font-size: 36px;
    border: 2px solid #00000000;
    width: 80%;
    margin: 10px auto;
    user-select: none;
}

/* Additional styling for the selected course div */
.selected {
    border: 2px solid red;
}

/* Text for course names themselves */
p {
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}