
.settings-main {
    display: flex;
    flex-direction: row;
    background-color: #cfcfcf;
}

.sidebar {
    background-color: #cfcfcf;
    width: 100%;
    margin-top: 20px;
    height: 100%;
}

.sidebar-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    background-color: #cfcfcf;
    color: black;
}


h2{
    font-weight: bold;
    margin-top: 40px;
    color: #c30000
}

button{
    margin-top: 30px;
    border-radius: 5px;

}