<main>
    <h2> SETTINGS</h2>
    <div class="settings-main">
        <div class = "sidebar">
            <app-profile-settings></app-profile-settings>
            <app-notification-settings></app-notification-settings>
            <div class="sidebar-buttons">
                <button (click)="saveAllSettings()" style = "font-size: 20px;">Save Settings</button>
                @if (this.saveMessage != "") {
                    <p [class]="this.getMessageStyle()">{{ this.saveMessage }}</p>
                }
                <button (click)="handleSignout()" style = "font-size: 20px; color: #c30000; border-color: #c30000">Sign Out</button>
            </div>
        </div>
    </div>
</main>

