form div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
}

input, select {
  margin-left: 10px;
}

button[type="submit"] {
  display: block;
  margin: 20px auto 0;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  justify-self: center;
  margin-top: 20px;
  font-size: 18px;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 15px;
}
