<div class="assignment-list">
  <div class="assignment-header">
      <div class="header-column">
        <button class="checkmark-button" style="color:red; border-color: red;" (click)="toggleView()">✔</button>
      </div>
      <div class="header-column">
        <p>COURSE</p>
        <button (click)="this.sortByCourse(true)">TEST SORT</button>
      </div>
      <div class="header-column">
        <p>TITLE</p>
        <button (click)="this.sortByTitle(true)">TEST SORT</button>
      </div>
      <div class="header-column">
        <p>DUE</p>
        <button (click)="this.sortByDate(true)">TEST SORT</button>
      </div>
      <div class="header-column">
        <p>MODIFY</p>
      </div>
  </div>
  <div class="assignment-container">
      @for (assignment of this.assignments[this.getIndex()]; track assignment.id) {
          @if (this.courseService.getSelectIndex() === -1 || assignment.courseId === this.courses[this.courseService.getSelectIndex()].id) {
              <app-task
              [assignment]="assignment"
              [courseName]="this.getCourseNameByID(assignment.courseId)"
              (taskRemoved)="onTaskRemoved($event)"
              (taskUpdated)="onTaskUpdated($event)"
              />
          }
      }
  </div>

</div>
