.assignment-header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #cfcfcf;
    border-bottom: 3px solid #949494;
    font-size: 18px;
}


app-task-list {
    padding: 0 !important;
    margin: 0;
  }

.header-column {
    padding: 10px;
    text-transform: uppercase;
    flex: 1; 
    border-right: 3px solid #949494;
    text-align: center;
    position: relative;
}

.header-column-check, .header-column-edit, .header-column-remove {
    flex: 0.3; 
    border-right: 1px solid #ddd;
    text-align: center;
    padding-top: 10px;
}

.header-column-remove:last-child{
    border-right: none;
}

.header-column:last-child {
    border-right: none;
}

.sort-icon {
    position: absolute;
    height: 50px;
    display: none;
}

.faded {
    opacity: 0.6;
}