<label for="completed">Show completed TEST</label>
<input id="completed" type="checkbox" (click)="test()"/>
<div class="assignment-list">
    <div class="assignment-header">
        <div class="header-column-check">✔</div>
        <div class="header-column">COURSE</div>
        <div class="header-column">TITLE</div>
        <div class="header-column">DUE</div>
        <div class="header-column-edit">EDIT</div>
        <div class="header-column-remove">X</div>
    </div>
    <div class="assignment-container">
        @for (assignment of this.getSortedAssignments(); track assignment.id) {
            @if (courseService.getSelectIndex() === -1 || assignment.courseId === courses[courseService.getSelectIndex()].id) {
                <app-task [assignment]="assignment" [courseName]="this.getCourseNameByID(assignment.courseId)" />
            }
        }
    </div>

</div>



