<main>
    <header>
      <a [routerLink]="['/']">
        <h1><img src="images/classmate.png" alt="classmate icon" 
          style="width: 200px; height: auto; margin-left: 15px; margin-top: 7px;"/></h1>
      </a>
      <div class = "logos" *ngIf="hideLogos()">
        <a [routerLink]="['/settings']"> <img src="images/settingsIcon.png" alt="settings icon" 
          style="width: 50px; height: auto;"/> </a>
        <a (click)="openPopup('notifications')"> <img src="images/notificationIcon.png" alt="notifications icon" 
          style="width: 55px; height: auto; padding-left: 1%;" />
        </a>
      </div>
      
      <div *ngIf="showPopup" class="popup-modal">
        <div class="popup-content">
          <span class="close" (click)="closePopup()">&times;</span>
          <p *ngIf="popupType === 'notifications'">notifications go here</p>
        </div>
      </div>
      
    </header>

  
  <!--This a element links back to login and is present on all pages
  likely will need removed but for now is reference for routerLink setup-->
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
