
<div class="container">

  <div id = "words">

    <!-- DUE SOON -->
    @if (this.router.url != "/main/grades")
    {
      <p>DUE SOON</p>
      @if (this.assignments != null && this.assignments.length > 0)
      {
        <ul>
          @for (assignment of this.assignments; track assignment.id)
          {
            <li>{{ assignment.title }} <br>- Due: {{ assignment.availability.adaptiveRelease.end | date:'short' }}</li>
          }
        </ul>
      }
      @else
      {
        <p>No upcoming assignments.</p>
      }
    }

    <!-- GRADES -->
    @else
    {
      <p>Grades works!</p>
    }

  </div>

</div>