body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #c0c0c0;
    border-radius: 30px;
    margin-top: 40px;
    overflow-y: auto;
    height: 316px;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.3);

}

.date{
    color:#c30000;
}

h1 {
    color: #c30000;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: #c30000;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

p {
    color: #000000;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

li {
    font-size: 20px;
}

#words{
    margin-top: 25px;
}
