/* You can add global styles to this file, and also import other style files */

/* Necessary (alongside links in HTML head) for Inter font from Figma prototype to display. */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap'); */


:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: #949494;
  scrollbar-width: none;
}
::webkit-scrollbar {
  display: none;
}

main {
  background-color: #949494;
}

app-task-list, app-calender, app-grades {
  padding: 0 !important;
}
  

