/* You can add global styles to this file, and also import other style files */

/* Necessary (alongside links in HTML head) for Inter font from Figma prototype to display. */
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

body {
    margin: 0;
}