form div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 10px;
}

input, select {
  margin-left: 10px;
}

button {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

h3{
  font-weight: bold;

}

.task-title{
  font-size: 22px;
  line-height: normal;
}

.task-value{
  color:#c30000;
}

