/* Full calendar base */
.calendar {
    margin: 0;
    margin-left: -0.8%;
    padding: 0;
    width: 101.5%;
    height: 100%;
    scrollbar-width: none;
}


/* Full header of calendar including navigation and day rows, sticks to top on scroll */
.header-content {
    position: sticky;
    top: 0;
    z-index: 10;
    height: 25%;
}

/* Header row of calendar containing month/year text and navigation buttons */
.navigation-row {
    height: 40%;
    display: flex;
    justify-content: space-between;
    background-color: #cfcfcf;
}

/* Section of header row containing text */
.navigation-text {
    width: 80%;
    display: flex;
}

/* Text itself used in header */
h1 {
    font-size: 40px;
    font-weight: bold;
    margin: auto;
}

/* Section of header row containing left/right arrows */
.navigation-arrow {
    width: 10%;
    display: flex;
    align-items: center;
}

#left {
    justify-content: left;
}

#right {
    justify-content: right;
}

img {
    height: 50px;
    display: block;
    padding: 10px;
}

.disabled {
    opacity: 60%;
}


/* Row containing days of month */
.day-row {
    height: 60%;
    display: flex;
    justify-content: space-around;
    background-color: #cfcfcf;
}

/* A single day of the month inside day-row */
.day {
    height: 90%;
    width: 10%;
    margin: auto;
    text-align: center;
}

h2 {
    margin-top: 10%;
    margin-bottom: 0;
}


/* Base of the actual calendar content */
.calendar-content {
    height: 75%;
    display: flex;
    justify-content: space-evenly;
}

/* Individual column of the calendar, representing content for a single day */
.calendar-column {
    width: 14%;
}

/* Individual task as represented on calendar */
.calendar-item {
    min-height: 15%;
    margin: 5px;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.item-icon {
    position: absolute;
    height: 40px;
    bottom: 4px;
    right:  6px;
}

h3 {
    font-size: 20px;
}

p {
    margin: auto;
}

.urgent {
    color: #c30000;
}


/* Task popup -- mostly copied from TaskComponent */
.popup-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.popup-content {
    background-color: #cfcfcf;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: 70%;
    margin: auto;
}

.close {
    position: absolute;
    top: -5px;
    right: 8px;
    cursor: pointer;
    font-size: 34px;
    color: black;
}

.assignmentPopup {
    font-size: 20px;
    color: black;
    line-height: 1.7;
}

.description, .course{
    font-weight: bold;
}