/* Header row of calendar containing header text and button containers */
.header-row {
    height: 10%;
    display: flex;
    justify-content: space-between;

    background: red;
}

/* Section of header row containing text */
.header-text {
    width: 80%;
    display: flex;

    background-color: white;
}

/* Text itself used in header */
h1 {
    font-size: 40px;
    font-weight: bold;
    margin: auto;
}

/* Section of header row containing left/right arrows */
.header-arrow {
    width: 10%;
    height: 100%;
    display: flex;
}

#left {
    justify-content: left;
}

#right {
    justify-content: right;
}

img {
    height: 75%;
    margin: auto 0;
    display: block;
}


/* Row containing days of month */
.day-row {
    height: 15%;
    display: flex;
    justify-content: space-around;

    background: orange;
}

/* A single day of the month inside day-row */
.day {
    height: 90%;
    width: 10%;
    margin: auto;
    text-align: center;

    background: yellow;
}

h2 {
    margin-top: 10%;
    margin-bottom: 0;
}


/* Base of the actual calendar content */
.calendar {
    height: 75%;
    display: flex;
    justify-content: space-evenly;

    background: green;
}

/* Individual column of the calendar, representing content for a single day */
.calendar-column {
    width: 14%;
}

/* Individual task as represented on calendar */
.calendar-item {
    margin: 5px;
    background: purple;
}

.page-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    padding: 10px; 
}

#lastWeekButton {
    flex: 1;
    text-align: left; 
}

#nextWeekButton {
    flex: 1; 
    text-align: right; 
}

.page-container p {
    flex: 0; 
    margin: 0 auto; 
}