<div class="header-row">
    <div class="header-arrow" id="left">
        <!-- <img src="images/left-arrow.png" alt="Back" (click)="pageBack()" /> -->
        <button (click)="pageBack()" [disabled]="this.checkSemesterStart(this.weekStart)">ph-back</button>
    </div>
    <div class="header-text">
        <h1>{{ this.weekStart.toLocaleString('default', { month: 'long' }) }} {{ this.weekStart.getFullYear() }}</h1>
    </div>
    <div class="header-arrow" id="right">
        <!-- <img src="images/right-arrow.png" alt="Next" (click)="pageForward()" /> -->
        <button (click)="pageForward()" [disabled]="this.checkSemesterEnd(this.weekStart)">ph-next</button>
    </div>
</div>
<div class="day-row">
@for (dayAssignments of this.weekAssignments; track this.weekAssignments.length) {
    <div class="day">
        <h2>{{ this.calculateDateWithOffset($index) }}</h2>
        <p>{{ this.DAYS_OF_WEEK[$index] }}</p>
    </div>
}
</div>
<div class="calendar">
@for (dayAssignments of this.weekAssignments; track this.weekAssignments.length) {
    <div class="calendar-column">
    @for (assignment of dayAssignments; track assignment.id) {
        <div class="calendar-item">
        @if (this.courseService.getSelectIndex() === -1 || assignment.courseId === this.courses[this.courseService.getSelectIndex()].id) {
            <p>{{ assignment.title }} | {{ assignment.description }}</p>
        }
        </div>
    }
    </div>
}
