<div class="assignment-row" [ngClass]="{'completed': assignment.complete}">
    <div class="assignment-column">
        <input type="checkbox" [(ngModel)]="assignment.complete" (click)="toggleCompletion(assignment)" />
    </div>
    <div class="assignment-column">{{ courseName.split("-")[0] }}</div>
    <div class="assignment-column" style = "color: #0000EE; text-decoration: underline; text-decoration-color: #0000EE; cursor: pointer;"><a (click)="openPopup('task')" >{{ assignment.title }}</a></div>
    <div class="assignment-column" style = "color: #c30000">{{ assignment.availability.adaptiveRelease.end | date }}</div>
  
    <div class="assignment-column">
      <div style="display: flex; justify-content: center; gap: 40px;">
        <a (click)="openPopup('edit-task')" style="cursor: pointer;">
          <img *ngIf="assignment.userCreated" src="images/pencil.png" alt="pencil icon" style="width: 25px; height: auto;"/>
        </a>
        <a (click)="removeTask()" style="cursor: pointer;">
          <img *ngIf="assignment.userCreated" src="images/x.png" alt="x icon" style="width: 20px; height: auto;"/>
        </a>
      </div>
    </div>    
</div>

<div id = "line" style =   "border-bottom: 3px solid #949494; width: 95%; justify-self: center;" > </div>

<div *ngIf="showPopup" class="popup-modal">
    <div class="popup-content">
      <span class="close" (click)="closePopup()">&times;</span>
      <p *ngIf="popupType === 'edit-task'">   <app-edit-task [assignment]="assignment" (close)="closePopup(); updateTask($event)"></app-edit-task>
        <p *ngIf="popupType === 'task'" class="assignmentPopup">
            <span class="course">{{ courseName.split("-")[0] }} </span><br>
            {{ assignment.title }} <br>
            <span class="due-date"> Due: {{ assignment.availability.adaptiveRelease.end | date }} </span><br> <br>
            <span class="description">Description: </span><br>
            {{assignment.description}}
          </p>
    </div>
  </div>

