.option {
    font-size: 36px;
    border: 2px solid #00000000;
    width: 80%;
    margin: 10px auto;
    text-align: center;
    user-select: none;
}

.selected {
    color:#c30000;
}

button{
    font-size: 20px;
    margin-top: 65%;
    font-weight: bold;
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

button:hover{
    opacity: 60%;
}

p:hover {
    color: #c30000;
    opacity: 60%;
    cursor: pointer;
}

p {
    margin: 10px auto;
}