main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #949494;
}

.top-right-link {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-decoration: underline;
  }
  

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -50px;
}
  
img {
    width: 115%;
    height: auto;
}

h1{
    font-size: 40px;
    color: black;
}

button {
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px;
    color:black;
    border-color: black;
}

  