.profile-settings {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
  
input, select {
    margin-left: 10px;
}

button {
    display: block;
    margin-top: 20px;
    margin-left: 10px;
}

.save-close {
    display: flex;
}

.error {
    color: red;
}