.logo{
    text-align: right;
    padding-right: 10px;
    margin-top:-90px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    margin: auto 5px;
}

.disabled-button {
  background-color: #ccc !important;
  color: #666 !important;
  cursor: not-allowed !important;
  opacity: 0.6 !important;
  pointer-events: none !important;
}

.popup-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }

  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: 70%;
    margin: auto;
  }

  .close {
    position: absolute;
    top: -5px;
    right: 8px;
    cursor: pointer;
    font-size: 34px;
    color: black;
  }

  .assignment-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
    background-color: #c0c0c0;
    border-bottom: 3px solid #949494;

}

.assignment-column {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 8px;
  border-right: 3px solid #949494;
  font-size: 18px;
  align-items: center;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.assignmentPopup {
    font-size: 20px;
    color: black;
    line-height: 1.7;
  }

  .assignmentPopup {
    font-size: 22px;
    color: black;
    line-height: 1.7;
  }

  .due-date{
    color: #c30000;
  }

  .description, .course{
    font-weight: bold;
  }


.assignment-column:last-child {
    border-right: none;
}


.assignment-column-remove:last-child{
    border-right: none;
}


.assignment-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: #cfcfcf;
  border-bottom: 3px solid #949494;
  font-size: 18px;
  position: sticky;
  top: 0;
  z-index: 10;

}

.line {
  border-bottom: 3px solid #949494;
  border-radius:12px;
  width: 95%;
}


.header-column {
  padding: 10px;
  text-transform: uppercase;
  flex: 1;
  border-right: 3px solid #949494;
  text-align: center;
}

.header-column-remove:last-child{
  border-right: none;
}

.header-column:last-child {
  border-right: none;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="number"] {
  width: 80px;
  padding: 5px;
  text-align: center;
  background-color: #ccc;
  border-radius: 10px;
}

/* Hide arrows for Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
}

input[readonly] {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}
