<div class="assignment-list">
  <div class="assignment-header">
    <div class="header-column">COURSE</div>
    <div class="header-column">ASSIGNMENT</div>
    <div class="header-column">GRADE</div>
    <div class="header-column">LETTER</div>
  </div>
  <div class="assignment-container">
    @for (grade of this.grades; track grade.id) {
      @if (this.courseService.getSelectIndex() === -1 || grade.courseId === this.courses[this.courseService.getSelectIndex()].id) {
        <div class="assignment-row">
        <div class="assignment-column">{{ this.getCourseNameByID(grade.courseId) }}</div>
        <div class="assignment-column">{{ this.getAssignmentTitleByID(grade.assignmentId) }}</div>
          <div class="assignment-column">
            <form [formGroup]="updateGradeForm" (ngSubmit)="setGrade(grade.id)">
              @if (grade.id !== undefined) {
                <input
                  id="grade"
                  type="number"
                  [formControlName]="grade.id || ''"
                  [placeholder]="grade.percent === -1 ? 'Enter grade' : ''"
                  [value]="grade.percent === -1 ? '' : grade.percent">
                <button type="submit">✔</button>
              }
            </form>
          </div>
          <div class="assignment-column">{{ this.displayGradeChar(grade) }}</div>
          </div>
        <div id = "line" style =   "border-bottom: 3px solid #949494; width: 95%; justify-self: center;" > </div>
      }
    }
  </div>
</div>
