<!--<p>{{ this.output }}</p> to be removed -->
<div class="container-fluid">
    <div class="main row bg-secondary mt-2">
        <div class="sidebar col-2">
            <div class="courses">
                <app-courses-sidebar></app-courses-sidebar>
            </div>
            <div class="due-soon">
                <app-secondary-sidebar />
            </div>
        </div>
        <div class="task-info col-10">
            <div class="selectOptions row w-100 d-flex justify-content-between align-items-center">
                <div class="col-md-auto">
                    <a routerLink="task-list">
                        <img src="images/task-list.png" alt="task list icon" style="width: 75px; height: auto;" />
                    </a>
                </div>
                <div class="col-md-auto">
                    <a routerLink="calendar">
                        <img src="images/calendar.png" alt="calendar icon" style="width: 80px; height: auto;" />
                    </a>
                </div>
                <div class="col-md-auto">
                    <a routerLink="grades">
                        <img src="images/gradesIcon.png" alt="grades icon" style="width: 75px; height: auto;" />
                    </a>
                </div>
                <div class="col-md-auto ms-auto"></div>
                <div class="col-md-auto ms-0" style = "padding:0; margin-right:7px" (click)="openPopup('add-task')">
                    <img src="images/add-task.png" alt="add task icon" style="width: 80px; height: auto; cursor: pointer;" />
                </div>
                <div class="col-md-auto ms-0" style = "padding:0;" (click)="openPopup('grade-calc')">
                    <img src="images/calc.png" alt="calculator icon" style="width: 73px; height: auto; cursor: pointer;" />
                </div>
            </div>

            <div *ngIf="showPopup" class="popup-modal" (click)="handleBackdropClick($event)">
                <div class="popup-content" (click)="$event.stopPropagation()">
                  <span class="close" (click)="closePopup()">&times;</span>
                  <p *ngIf="popupType === 'add-task'"><app-add-task (closePopup)="closePopup()" (onTaskAdd)="handleNewTask($event)"></app-add-task></p>
                  <p *ngIf="popupType === 'grade-calc'"><app-grade-calc></app-grade-calc></p>
                </div>
              </div>
            <div class="main-view row">
                <!-- TASK LIST, CALENDAR, OR GRADES VIEW -->
                <router-outlet />
            </div>
        </div>
    </div>
</div>
